* {
    margin: 0;
    padding: 0;
    
    font-family: Arial, sans-serif;
}

.wrapper {
    min-height: 70vh;
}

@media screen and (min-height: 1900px) {
    .wrapper {
        min-height: 90vh;
    }
}